* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: inline-block;
}

li {
    list-style: none;
}



/**************
**** HERO ****
**************/

.hero {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 12px;
}

/**************
**** ALBUM ****
**************/
.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    margin: 0 auto 12px;
}

/**************
**** CARD *****
**************/

.card {
    background-color: #000;
    display: flex;
    width: 100%;
    margin: 0 4px;
}

.card img {
    width: 80px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 12px;
    color: #ffff;
}

.desc a {
    text-decoration: none;
    color: aqua;
}

/**************
**** FORM *****
**************/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media (min-width: 1200px) {

    .container {
        width: 80%;
    }

    .album {
        gap: 12px;
    }

    .card {
        width: calc((100%/3) - 24px);
        margin: 0;
    }
}